.item_img {
  width: auto;
  height: 200px;
  padding: 10px;
}

.box_img:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: 400ms;
}

.stock_message {
  position: absolute;
  margin-left: 150px;
  margin-bottom: 40px;
  color: rgb(221, 80, 80);
  font-weight: bold;
  font-style: italic;
  z-index: 2;
}
